html {
  /* remove horizont scroll */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-size: 62.5%;
  font-family: "Lato", "Times New Roman", Times, serif;
}

a {
  outline: none;
  text-decoration: none;
}

.main {
  width: 1020px;
  margin: 0 auto;
}

.header {
	height: 8.9rem;
	display: flex;
	color: #ffffff;
  justify-content: space-between;
  align-items: center;
	background-color: #2d303a;
	border-bottom: 0.6rem solid #323746;
}

.header__title {
  font-size: 2.5rem;
  line-height: 0.6rem;
  font-family: "Lato";
  font-weight: 700;
}

.header__list {
	
}

.header__list_item {
  list-style: none; 
  display: inline;
  font-size: 1.2rem;
}
.header__list_item:before {
  content: " \00b7";
}
.header__list_item:first-child:before {
  content: none;
}
.header__list_link {
  color: #ffffff;
}
.header__list_link {
}
.red_text {
  color: #f06c64;
}

.slider {
}

.slider__slide {
}

.slider__slide_vertical_mobile {
}

.slider__slide_horizontal_mobile {
}

.slide {
}

.slide__vertical_mobile_body {
}

.slide__vertical_mobile_content {
}

.slide__horizontal_mobile_body {
}

.slide__horizontal_mobile_content {
}

.services {
}

.services__description {
}

.services__description_header {
}

.services__description_text {
}

.services__list {
}

.services__item_icon {
  width:60px;
}

.services__item_text_block {
}

.services__item_header {
}

.services__item_text {
}
tspan { white-space:pre }
.shp0 { fill: #666d89 } 
.shp1 { fill: none;stroke: #666d89;stroke-width: 2 } 
