html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", Verdana, sans-serif;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.8rem;
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666d89;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
  padding: 0 4rem;
}

.layout-2-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-columns * > {
  flex-basis: 45%;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #2d303a;
}
.footer__copyright {
  color: #666d89;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  padding-top: 27px;
}
.footer__contacts {
  padding: 22px 0;
}

.links-icons {
  display: flex;
}

.ico {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #666d89;
}

.ico:last-child {
  margin-right: 0;
}

.ico-object {
  width: 16px;
  height: 16px;
}

.ico-svg:hover .shp0 {
  fill: #000000;
}

.get-quote__wrapper {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.get-quote__title {
  color: #f0d8d9;
  display: inline-block;
  margin-top: 53px;
  margin-bottom: 12px;
  letter-spacing: -0.02rem;
}
.get-quote__description {
  color: #f0c2c1;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -0.004rem;
}
.get-quote__form-block {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.get-quote__form {
  max-width: 619px;
}
.get-quote__form input, .get-quote__form textarea {
  border: 1px solid #d6564f;
  background-color: #d6564f;
  border-radius: 5px;
  width: 100%;
}
.get-quote__form input::placeholder, .get-quote__form textarea::placeholder {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: #f48c8f;
}
.get-quote__form input:focus, .get-quote__form textarea:focus {
  outline: none;
  border: 1px solid #f0c2c1;
  transform: translate(-2px);
}
.get-quote__form textarea {
  resize: none;
  height: 200px;
}
.get-quote__input {
  margin-bottom: 15px;
  padding: 11px 15px;
}
.get-quote__textarea {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  padding: 7px 16px;
  letter-spacing: -0.24rem;
}
.get-quote__content {
  max-width: 300px;
}
.get-quote__content-title {
  color: #f0cac9;
}
.get-quote__content-description {
  color: #f0cac9;
  min-width: 303px;
  letter-spacing: -0.02rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.qet-quote__button-block {
  display: flex;
  justify-content: flex-end;
}
.qet-quote__button {
  border: none;
  margin: 18px 0;
  background-color: #f0d8d9;
  color: #666d89;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
.qet-quote__button:hover {
  background-color: #f0c2c1;
}

.contacts {
  color: #f0cac9;
}
.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__description {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
}
.contacts__icon {
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__icon-locate {
  background-image: url(./assets/images/singolo3/icons/locate-white.svg);
  height: 12px;
  width: 7px;
  margin-left: 3px;
  margin-right: 14px;
}
.contacts__icon-locate:hover {
  background-image: url(./assets/images/singolo3/icons/locate-black.svg);
}
.contacts__icon-telephone {
  background-image: url(./assets/images/singolo3/icons/telephone-white.svg);
  height: 12px;
  width: 11px;
  margin-left: 1px;
  margin-right: 11px;
}
.contacts__icon-telephone:hover {
  background-image: url(./assets/images/singolo3/icons/telephone-black.svg);
}
.contacts__icon-mail {
  background-image: url(./assets/images/singolo3/icons/mail-white.svg);
  height: 14px;
  width: 14px;
  margin-top: 8px;
  margin-right: 9px;
}
.contacts__icon-mail:hover {
  background-image: url(./assets/images/singolo3/icons/mail-black.svg);
}

/*# sourceMappingURL=singolo3.css.map */
