html {
  font-size: 62.5%;
  font-family: "Lato", "Times New Roman", Times, serif;
}

a {
  outline: none;
  text-decoration: none;
}

.main {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
	height: 8.9rem;
	display: flex;
	color: #ffffff;
  justify-content: space-between;
  align-items: center;
	background-color: #2d303a;
	border-bottom: 0.6rem solid #323746;
}

.header__title {
  font-size: 2.5rem;
  line-height: 9rem;
  font-family: "Lato";
  font-weight: 700;
}

.header__list {
	
}

.header__list_item {
  list-style: none; 
  display: inline;
  font-size: 1.2rem;
}
.header__list_item:before {
  content: " \00b7";
}
.header__list_item:first-child:before {
  content: none;
}

.header__list_link {
  color: #ffffff;
  line-height: 9rem;
}

.red_text {
  color: #f06c64;
}

.slider {
  display: flex;
  justify-content: center;
  background-color: #f06c64;
  border-bottom: 0.7rem solid #ea676b;
}

.slider__slide {
  display: flex;
}

.slider__slide_vertical_mobile {
  background-color: #666d89;
}

.slider__slide_horizontal_mobile {
  background-color: gray;
}

.slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide__vertical_mobile_body {
/*   margin: 15% 0 0 31%;
  width: 67.6%; */
  width: 100%;
  height: auto;
  max-width: 240px;
}

.slide__vertical_mobile_content {
}

.slide__horizontal_mobile_body {
/*   margin-top: 26.4%;
  margin-left: 10%;
  width: 73.7%; */
  width: 100%;
  max-width: 482px;
  height: auto;
}

.slide__horizontal_mobile_content {
}

.services {
}

.services__description {
}

.services__description_header {
}

.services__description_text {
}

.services__list {
}

.services__item_icon {
  width:60px;
}

.services__item_text_block {
}

.services__item_header {
}

.services__item_text {
}
tspan { white-space:pre }
.shp0 { fill: #666d89 } 
.shp1 { fill: none;stroke: #666d89;stroke-width: 2 } 
