html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Lato", "Times New Roman", Times, serif;
}

a {
  outline: none;
  text-decoration: none;
}

.main {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  border-bottom: 0.6rem solid #323746;
  padding: 0 4rem;
}

.header__title {
  font-size: 2.5rem;
  line-height: 9.5rem;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: -0.07rem;
  padding-top: 0.1rem;
  min-width: 116px;
}

.header__title_star {
  margin-left: -0.6rem;
}

.header__list {
  padding-top: 14px;
}

.header__list_item {
  list-style: none;
  display: inline;
  font-size: 1.2rem;
  font-family: "Lato";
}

.header__list_item:before {
  content: " \00b7";
  color: #666d89;
  margin-left: 10px;
  margin-right: 13px;
}

.header__list_item:first-child:before {
  content: none;
}

.header__list_link {
  color: #ffffff;
}

.red_text {
  color: #f06c64;
}

.slider {
  display: flex;
  justify-content: center;
  background-color: #f06c64;
  border-bottom: 0.7rem solid #ea676b;
  position: relative;
}

.slider__left_arrow {
  position: absolute;
  transform: translateY(-50%);
  opacity: 20%;
  top: 50%;
  left: 4%;
}

.slider__left_arrow:hover {
  opacity: 100%;
}

.slider__right_arrow {
  position: absolute;
  transform: translateY(-50%);
  opacity: 20%;
  top: 50%;
  right: 4%;
}

.slider__right_arrow:hover {
  opacity: 100%;
}

.slider__slide {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
}

.slider__slide_vertical_mobile {
  padding-top: 6.9%;
  padding-bottom: 7.2%;
  position: relative;
}

.slider__slide_horizontal_mobile {
  position: relative;
  padding-top: 22%;
}

.slide {}

.slide__vertical_mobile_body {
  width: 100%;
  height: auto;
  max-width: 240px;
}

.slide__vertical_mobile_content {
  position: absolute;
  background-image: url("assets/images/Vertical-Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 188px;
  height: 333px;
  top: 119px;
  left: 16px;
}

.slide__vertical_mobile_content:hover {
  border: 3px solid #c7c8c7;
  transform: translate(-3px, -3px);
}

.slide__horizontal_mobile_body {
  width: 100%;
  max-width: 482px;
  height: auto;
}

.slide__horizontal_mobile_content {
  position: absolute;
  background-image: url("assets/images/Horizontal-Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 188px;
  width: 333px;
  top: 188px;
  left: 57px;
}

.slide__horizontal_mobile_content:hover {
  border: 3px solid #c7c8c7;
  transform: translate(-3px, -3px);
}

.services {
  background-color: #f2f2f2;
}

.services__description {
  padding: 5rem 3rem 4.7rem 4rem;
}

.services__description_header {
  font-size: 3rem;
  line-height: 6.2rem;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.services__description_text {
  line-height: 3rem;
  font-size: 1.8rem;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 1%;
  padding-bottom: 3%;
}

.services__item {
  display: flex;
  margin-bottom: 3rem;
}

.services__item_icon {
  width: 60px;
  height: 60px;
}

.services__item_text_block {
  display: flex;
  flex-direction: column;
  max-width: 219px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.services__item_header {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.services__item_text {
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-top: 1rem;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

/* icons style */

tspan {
  white-space: pre
}

.shp0 {
  fill: #666d89
}

.shp1 {
  fill: none;
  stroke: #666d89;
  stroke-width: 2
}